<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>upAttack.png</string>
            <key>size</key>
            <string>{36,41}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f5c4f69c684fddde50293d172fc0e62:4d48856bc16de27ac66d39f34084ce6a:d081edff66fe2acf82c0d1cf2e0e8c26$</string>
            <key>textureFileName</key>
            <string>upAttack.png</string>
        </dict>
    </dict>
</plist>
