<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,23}</string>
                <key>spriteSourceSize</key>
                <string>{18,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,22}</string>
                <key>spriteSourceSize</key>
                <string>{19,22}</string>
                <key>textureRect</key>
                <string>{{0,23},{19,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{0,45},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,25}</string>
                <key>spriteSourceSize</key>
                <string>{18,25}</string>
                <key>textureRect</key>
                <string>{{0,67},{18,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,23}</string>
                <key>spriteSourceSize</key>
                <string>{18,23}</string>
                <key>textureRect</key>
                <string>{{0,92},{18,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frontShield.png</string>
            <key>size</key>
            <string>{19,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba51b844d57365bdf6183d7b32ed8d8c:1a9bfceb6c99b91dd482e7aaba48d3f1:443e636492da22d61d4ccb709a2222eb$</string>
            <key>textureFileName</key>
            <string>frontShield.png</string>
        </dict>
    </dict>
</plist>
