<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{0,64},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{26,32},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,33}</string>
                <key>spriteSourceSize</key>
                <string>{25,33}</string>
                <key>textureRect</key>
                <string>{{28,64},{25,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{0,32},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{25,0},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goDown.png</string>
            <key>size</key>
            <string>{54,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34e9b9ad1607e64d25dff44cc6ac8f0b:f48357970cf605ea92910c116a39f26b:f8d7f090459f58ce5f16acfd914bc6a6$</string>
            <key>textureFileName</key>
            <string>goDown.png</string>
        </dict>
    </dict>
</plist>
