<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,58}</string>
                <key>spriteSourceSize</key>
                <string>{16,58}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,102}</string>
                <key>spriteSourceSize</key>
                <string>{48,102}</string>
                <key>textureRect</key>
                <string>{{16,0},{48,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,128}</string>
                <key>spriteSourceSize</key>
                <string>{48,128}</string>
                <key>textureRect</key>
                <string>{{64,0},{48,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,228}</string>
                <key>spriteSourceSize</key>
                <string>{49,228}</string>
                <key>textureRect</key>
                <string>{{112,0},{49,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,242}</string>
                <key>spriteSourceSize</key>
                <string>{68,242}</string>
                <key>textureRect</key>
                <string>{{161,0},{68,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,242}</string>
                <key>spriteSourceSize</key>
                <string>{55,242}</string>
                <key>textureRect</key>
                <string>{{229,0},{55,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,240}</string>
                <key>spriteSourceSize</key>
                <string>{52,240}</string>
                <key>textureRect</key>
                <string>{{284,0},{52,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,242}</string>
                <key>spriteSourceSize</key>
                <string>{63,242}</string>
                <key>textureRect</key>
                <string>{{336,0},{63,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{399,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7bcaf1bf6f0a21438b0a4dae43c2a2b:b2ee10d797d8ff96e98d8b452d8bb1ff:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
