<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>downAttack.png</string>
            <key>size</key>
            <string>{48,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9074c81bf1c7e8c21da1acfc12d8305c:296c16800da5929634a8e3200cac677f:22e6f761eada220caa34ca213e7dac29$</string>
            <key>textureFileName</key>
            <string>downAttack.png</string>
        </dict>
    </dict>
</plist>
