<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{0,68},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{27,34},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{28,68},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,34}</string>
                <key>textureRect</key>
                <string>{{0,34},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,34}</string>
                <key>textureRect</key>
                <string>{{25,0},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goUp.png</string>
            <key>size</key>
            <string>{55,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af4e916c72dd2d4dba592b47fbd6125f:1e144d92333530fe282199169677b87e:1caaa813d0dbbaa3349592b866a35b24$</string>
            <key>textureFileName</key>
            <string>goUp.png</string>
        </dict>
    </dict>
</plist>
