<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,362}</string>
                <key>spriteSourceSize</key>
                <string>{500,362}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,362}</string>
                <key>spriteSourceSize</key>
                <string>{500,362}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,362}</string>
                <key>spriteSourceSize</key>
                <string>{500,362}</string>
                <key>textureRect</key>
                <string>{{1000,0},{500,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,362}</string>
                <key>spriteSourceSize</key>
                <string>{500,362}</string>
                <key>textureRect</key>
                <string>{{1500,0},{500,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,362}</string>
                <key>spriteSourceSize</key>
                <string>{500,362}</string>
                <key>textureRect</key>
                <string>{{0,362},{500,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,362}</string>
                <key>spriteSourceSize</key>
                <string>{500,362}</string>
                <key>textureRect</key>
                <string>{{500,362},{500,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,362}</string>
                <key>spriteSourceSize</key>
                <string>{500,362}</string>
                <key>textureRect</key>
                <string>{{1000,362},{500,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>potionSeller.png</string>
            <key>size</key>
            <string>{2000,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2800401aa2cc83f0480e0edf2fd51290:c2d35c8dbaa9de5de10d528787a1c054:67beb07ca3845b7d0bd73ff556734ce6$</string>
            <key>textureFileName</key>
            <string>potionSeller.png</string>
        </dict>
    </dict>
</plist>
