<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,43}</string>
                <key>spriteSourceSize</key>
                <string>{23,43}</string>
                <key>textureRect</key>
                <string>{{0,0},{23,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frontAttack.png</string>
            <key>size</key>
            <string>{23,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0d8597263c1809d4d704654700d8a56:11117f92ae1bb88508d9e5e7a7f4a49a:32a3728b5e1076f7b648bcbb83cd174f$</string>
            <key>textureFileName</key>
            <string>frontAttack.png</string>
        </dict>
    </dict>
</plist>
