<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,26}</string>
                <key>spriteSourceSize</key>
                <string>{41,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{41,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{41,0},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,29}</string>
                <key>textureRect</key>
                <string>{{78,0},{39,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{117,0},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goLeft.png</string>
            <key>size</key>
            <string>{154,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3216ff08fd695f014d57fe399d24b627:e36808c320c79f39be9f34ba831d5636:5b21662cf6d14636a927276b8b9a594a$</string>
            <key>textureFileName</key>
            <string>goLeft.png</string>
        </dict>
    </dict>
</plist>
