<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{19,0},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{38,0},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{57,0},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{75,0},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>backShield.png</string>
            <key>size</key>
            <string>{93,21}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f9e8e127a7397c5a1f7408ca24f73d3:404cbfcc27d71d441125d685416e06a4:21d86ac7a4ab60df909fd10da8f16f5f$</string>
            <key>textureFileName</key>
            <string>backShield.png</string>
        </dict>
    </dict>
</plist>
