<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,23}</string>
                <key>spriteSourceSize</key>
                <string>{18,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,23}</string>
                <key>spriteSourceSize</key>
                <string>{18,23}</string>
                <key>textureRect</key>
                <string>{{18,0},{18,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,23}</string>
                <key>spriteSourceSize</key>
                <string>{18,23}</string>
                <key>textureRect</key>
                <string>{{36,0},{18,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,23}</string>
                <key>spriteSourceSize</key>
                <string>{18,23}</string>
                <key>textureRect</key>
                <string>{{54,0},{18,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frontIdle.png</string>
            <key>size</key>
            <string>{72,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3207baa805138a2f40209734ffe7ef7a:5bdaf988ca66a4f8f2581202844ea642:e4354de836eaec40377c25f965b7ef07$</string>
            <key>textureFileName</key>
            <string>frontIdle.png</string>
        </dict>
    </dict>
</plist>
