<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,18}</string>
                <key>textureRect</key>
                <string>{{1,31},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,21}</string>
                <key>spriteSourceSize</key>
                <string>{34,21}</string>
                <key>textureRect</key>
                <string>{{33,1},{34,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{55,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3469d26d8efdd734203b5b1aed7cc3d5:cb1b9861c4cc2bf40bdce4ef203f4f3c:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
