<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{0,29},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{0,56},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{0,85},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>backAttack.png</string>
            <key>size</key>
            <string>{28,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85cb47f11e752fa4306b4d9ce8a299f4:4a01698426b18d2892473a5b593688ec:57af6f96a94c7ae1718410992fc88cb5$</string>
            <key>textureFileName</key>
            <string>backAttack.png</string>
        </dict>
    </dict>
</plist>
