<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,31}</string>
                <key>spriteSourceSize</key>
                <string>{46,31}</string>
                <key>textureRect</key>
                <string>{{0,0},{46,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rightAttack.png</string>
            <key>size</key>
            <string>{46,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdee791fde5c440cf90283c695ee55df:59cbaf55611af6545344e0b2f80dfec7:afaa39e9e7d23753e8e6d5e8c6fa359d$</string>
            <key>textureFileName</key>
            <string>rightAttack.png</string>
        </dict>
    </dict>
</plist>
